/cache
/db
.replxx_history
server.cfg.bkp
server.cfg
db-prod.cfg
resources-prod.cfg
resources/**/peuren_garbagejob/garbage.json
resources/**/peuren_deliveries/stock.json

.vscode/settings.json
resources/**/scully_emotemenu/prop_dump.lua
resources/**/peuren_chopshop/pawnshop.json
.idea/**
resources/**/al-windmills/html/node_modules
resources/**/rm-billing/web/node_modules
resources/**/ox_lib/web/node_modules
resources/**/rm-hud/web/node_modules
resources/**/minimal-hud/web/node_modules
resources/**/rm-multichar/web/node_modules
resources/**/rm-blackmarkets/**/*.json
resources/**/Renewed-Banking/web/node_modules
resources/*clothes*/
resources/*maps*/
resources/**/av_*/**/*.json
resources/\[qbx\]/high-phone/secret
*.ini
resources/**/*rayfix/**/*.json
