@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1;100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

:root {
    --gold-color:rgb(207, 162, 13);
    --dark-color: rgba(57, 57, 57, 0.776);
    --dark2-color:rgba(57, 57, 57, 0.154);
    --dark3-color:rgba(141, 136, 136, 0.108);
    --light-color: rgb(255, 250, 243);
    --red-color:rgb(130, 11, 0);
}

body{
    height:100vh;
    width:100%;
}